@layer components {
    .section {
        @apply max-w-7xl w-full mx-auto px-4 py-8 sm:px-6 lg:px-36 md:py-24 gap-6 md:gap-16 flex flex-col text-gray-900
    }
    .nav__BTN {
        @apply text-blue-500 hover:text-white text-lg
    }
    

}

@screen sm {
    
    #checkIn__bg {
      background-image: url(img/line.png); 
      background-size: 100%;
      @apply bg-contain bg-no-repeat bg-center bg-opacity-20;
    }
  }

#bg1 {
    background-image: url(img/bg1.png); 
    @apply bg-no-repeat bg-cover w-full bg-top;
}
#bg2 {
    background-image: url(img/bg2.png); 
    @apply bg-no-repeat bg-contain w-full bg-bottom;
}
#bg3 {
    background-image: url(img/bg5.png); 
    @apply bg-no-repeat bg-cover w-full bg-top;
}
#map {
    background-image: url(img/map.png); 
    @apply bg-no-repeat bg-cover w-full bg-center;
}
#banner1 {
    background-image: url(https://images.unsplash.com/photo-1613501968896-6513b028274e?q=80&w=2532&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    @apply bg-cover md:bg-fixed bg-center bg-no-repeat aspect-[5/2] md:aspect-[3/1];
}
#banner2 {
    background-image: url(img/banner2.png);
    @apply bg-cover md:bg-fixed bg-center bg-no-repeat aspect-[5/2] md:aspect-[3/1];
}
#banner3 {
    background-image: url(img/banner3.png);
    @apply bg-cover md:bg-fixed bg-center bg-no-repeat aspect-[5/2] md:aspect-[3/1];
}
#banner4 {
    background-image: url(img/banner4.png);
    @apply bg-cover md:bg-fixed bg-center bg-no-repeat aspect-[5/2] md:aspect-[3/1];
}
#banner5 {
    background-image: url(img/banner5.png);
    @apply bg-cover md:bg-fixed bg-center bg-no-repeat aspect-[5/2] md:aspect-[3/1];
}